.App {
  text-align: center;
  font-style: italic;
  background-color: wheat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: wheat;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .NavbarClass{
  text-decoration: none;
  color: rgb(215, 97, 97);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(215, 97, 97);
  opacity: 1; 
  font-style: italic;
  padding: 4px;
}

.cardClass{

  background-color: wheat;
}

.cardClass1{
  background-color: rgb(215, 97, 97);
}

.cards{

  transition: all 0.2s ease;
  cursor: pointer;
  

}
[type=search] {
 
   outline-offset: 0px!important; 
   border-color: rgb(210, 189, 189);
   /* box-shadow: #61dafb; */
   padding: 3px;
   cursor: pointer;
}
  


.cards:hover{

  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}
.searchbarMargin{
  margin-left: 800px;
}
